
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">

        <div class="col-md-5 wow animated fadeInRight">
            <h2>Contact me</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 wow animated fadeInRight">
            <address class="contact-details">
                <p>Want to get in touch? Call me or send me a email and I'll respond as soon as possible!</p>
                <p><i class="fa fa-phone">&nbsp;&nbsp;</i>Phone: (+351) 965119125</p>
                <p><i class="fa fa-envelope">&nbsp;&nbsp;</i><a href="mailto:luis_c_pinto@sapo.pt">luis_c_pinto@sapo.pt</a></p>
            </address>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 wow animated fadeInRight">
            <div class="clearfix">
                <p> Want to know more about my career? Download my Curriculum Vitae!</p>
                <a class="btn btn-primary float-left" href="~/CV/CV-LuisPinto.pdf" target="_blank">Download CV</a>
            </div>
        </div>
    </div>
    <p><a></a></p>
</div>