
<div class="container marketing">

    <div class="row">
        <div class="col-lg-4">
                <span class="fa-stack fa-3x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fas fa-user-alt fa-stack-1x fa-inverse"></i>
                </span>
                <h2>About Me</h2>
            <p class="pview">I was born in 1985 in a town called Chaves, but I have lived since I was 7 years old in Vila Real and currently live and work in Lisbon. I am a software developer and passionate about what I do.</p>
            <p><a class="btn btn-default" href="~/About" role="button">View more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <span class="fa-stack fa-3x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-basketball-ball fa-stack-1x fa-inverse"></i>
            </span>
            <h2>My Hobbies</h2>
            <p class="pview">I'm in love with everything that involves computers and computer science. I love sports, especially NBA and football. I try to spend my time and money on travel.</p>
            <p><a class="btn btn-default" href="~/Hobbies" role="button">View more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <span class="fa-stack fa-3x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fas fa-comment-alt fa-stack-1x fa-inverse"></i>
            </span>
            <h2>Contact Me</h2>
            <p class="pview">My Linkedin contact is at the bottom of the page, but you can always contact me by email and I'll reply as soon as possible. Here you can also see my Curriculum Vitae.</p>
            <p><a class="btn btn-default" href="~/Contact" role="button">View more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

</div><!-- /.container -->